.notes {
  position: relative;
  width: 100%;

  @include breakpoint("sm") {
    margin: 0 auto;
    width: 700px;
  }

  &__color-select {
    position: absolute;
    right: 0;
  }

  &__form-text {
    margin-top: 20px;
  }

  &__list {
    margin-top: 30px;
  }

  &__list-item {
    margin-bottom: 12px;
    position: relative;
  }

  &__list-item-action {
    float: right;
    margin-left: 10px;
    padding: 3px 0;
  }

  .list-enter-active,
  .list-leave-active {
    transition: all 0.333s;
  }
  .list-enter,
  .list-leave-to {
    opacity: 0;
  }
}
