html,
body {
  font-family: 'Roboto', sans-serif;
}

.fw-bold {
  font-weight: 700;
}

.fw-thin {
  font-weight: 300;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: center;
}

.ta-left {
  text-align: center;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}
